<h1><%=@memo.title%></h1>
<hr>
<!--hr은 선을 하나 그어 주는 것-->
<h2>by <%=@memo.user.email%></h2>

<%if @memo.user == current_user%>
<!--내가 작성한 글에만 수정 삭제 가능하게-->
<%= link_to '수정', edit_memo_path%>
<%= link_to '삭제', memo_path, method: :delete %>
<%else%>
<%end%>
<hr>

<%=@memo.content.html_safe%>
<!--css태그가 적용되서 보여지는 코드-->

<div class="well">
    댓글 작성 창
    <%#TODO: 댓글 창 완성하기%>
</div>
<hr>
<div>
    댓글 보여주는 곳
     <%#TODO: 댓글 창 완성하기%>
</div>
<!--grep memos 로 확인할 것-->